@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    max-width: 60%;
    background-color: #000000;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid white;
    padding: 1% 0.5% 2.5% 0.5%;
}

h1{
    color: #ffffff;
}

.input{
    width: 450px;
    height: 50px;
    margin: 5px;
    padding: 0px 20px;
    outline: none;
    border: 0;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 18px;
}

.item-input{
    width: 400px;
    height: 50px;
    margin: 5px;  
    font-size: 18px;
    border: 0;
    border-radius: 10px;
}

.item-input:active{
    background-color: transparent;
}

.item-input:disabled{
    color: #000000;
    font-style: italic;
    background-color: rgb(117, 117, 117);
}

.boton-agregar{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    color:#ffffff;
    background-color: rgb(59, 29, 141);
}

#boton-editar{
    background-color: rgb(59, 29, 141);
}

.boton-editar, .boton-remover{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    color:#ffffff;
    background-color: rgb(214, 8, 42);
}

.boton-agregar:hover, .boton-editar:hover, .boton-remover:hover{
    opacity: 0.9;
}